## Project Info
- name: __PROJECT_NAME__
- description:
__PROJECT_DESCRIPTION_BULLETS__
- codebook_version: __CODEBOOK_VERSION__

## Project Structure
```bash
__TREE_OUTPUT__
```

### Descriptions
__FILE_DESCRIPTIONS__

## Project Current Code
__FILE_CODE_BLOCKS__